body {
  margin: 0; padding: 0;
  background-color: #B83642 ;
  background-repeat: no-repeat; }
 
 .title {
   position: relative;
   width: 260px;
   height: 107px;
   margin-left: 9%;
   margin-top: 8%;
   
   font-family: 'Hind Vadodara';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 106.3%;
   /* or 64px */
   
   letter-spacing: -0.01em;
   color: rgba(250, 250, 250, 0.91);
 }
 
   .desc1 {
   position: relative;
   width: 630px;
   height: 76px;
   margin-left: 24%;
   margin-top: -6.8%;
 
   font-family: 'Hind Vadodara';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 116.8%;
 /* or 37px */
 
   letter-spacing: 0.02em;
 
   color: rgba(255, 255, 255, 0.66);
   }
   
   .desc2{
     position: relative;
     width: 630px;
     height: 76px;
    margin-left: 24%;
     margin-top: -3%;
   
     font-family: 'Hind Vadodara';
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 116.8%;
   /* or 37px */
   
     letter-spacing: 0.02em;
   
     color: rgba(255, 255, 255, 0.66);
   }
   
   .image--center {
     margin-left: auto;
     margin-right: auto;
   }
 
   .image--circle {
     border-radius: 50%;
   }
 
   .image {
     width: 50px;
     height: 130px;
   }
 
   .winepic1{
     position: absolute;
     left: 7%;
   }
   
   
   .name1{
     position: relative;
     height: 35px;
     left: 20%;
     top: 10%;
     width: 500px;
   }
  
   .name--font{
   font-family: 'Hind Vadodara';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 106.3%;
 /* or 46px */ 
   letter-spacing: -0.01em;
   color: rgba(255, 255, 255, 0.9);
   }
 
   .year1 {
     position: relative;
     left: 20%;
     height: 30px;
     width: 250px;
   }
  
   .small--font{
   font-family: 'Hind Vadodara';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 129.8%;
   /* or 52px */
   letter-spacing: 0.02em;
   color: rgba(255, 255, 255, 0.66);
 }
 
 .winetype1 {
   position:relative;
   height: 30px;
   left: 20%;
   height: 35px;
   width:250px;
 }
 
 
 .link1{
   position:relative;
   left: 20%;
   width: 250px;
 }
 
 .link {
   font-family: 'Hind Vadodara';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 129.8%;
   /* or 36px */
   letter-spacing: 0.02em;
   color: #480000;
   text-decoration: none;
   }
   
 .nav-link {
   color: black; 
 }
