.title {
  position: absolute;
  width: 340px;
  height: 60px;
  left: 150px;
  top: 150px;
  
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 106.3%;
  /* or 64px */
  
  text-align: center;
  letter-spacing: -0.01em;
  
  color: rgba(250, 250, 250, 0.91);
}

.smalltitle {
  position: absolute;
width: 434px;
height: 32px;
left: 500px;
top: 205px;

font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 146.3%;
letter-spacing: 0.02em;
color: rgba(255, 255, 255, 0.66);
}

.nav-link {
  color: black; 
}

.news1 {
  position: absolute;
  width:160px;
  top: 300px;
  left: 91px;
  height: 32px;
}

.news2{
  position: absolute;
  width:160px;
  top: 300px;
  left: 370px;
  height: 32px;
}

.news3{
  position: absolute;
  width:160px;
  top: 300px;
  left: 649px;
  height: 32px;
}

.news4{
  position: absolute;
  width:160px;
  top: 300px;
  left: 928px;
  height: 32px;
}

.news5{
  position: absolute;
  width:160px;
  top: 300px;
  left: 1207px;
  height: 32px;
}
.news--font {
  font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 35px;
}

a:link {
  text-decoration: none;
  color: black;
}


a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.description {
  color: black;
  top: 800px;
}

.row--pic {
  width: 210px;
height: 210px;
border-radius: 15%;
filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.25));
}


header {
  position: relative;
  margin-top: 17%;
}

.description1 {
font-family: 'Noto Sans KR';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 35px;
text-align: center;
margin-top: 7%;
color: #333333;
}

html {
  margin: 0; padding: 0;
}
body {
  margin: 0; padding: 0;
  background-color: #B83642 ;
}
.wrapper {
  padding: 0; margin: 0;
  background-image: linear-gradient(180deg, #B83642 10%,#d64e5b 100%);
}

.wrapper .content {
  padding: 26px; /* Put any padding or styles here you want, it won't break gradient */}