body {
  padding:0;
  margin:0;
  background-image: url("../static_yujin/images/배경색.png");
  background-size:cover;
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
}

.nav-link {
  color: black;
}

.title {
  position: absolute;
  width: 124px;
  height: 107px;
  left: 150px;
  top: 115px;
  
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 106.3%;
  /* or 64px */
  
  letter-spacing: -0.01em;
  
  color: rgba(250, 250, 250, 0.91);
}

.stars {
  position: absolute;
  color: white; 
  width: 434px;
  height: 57px;
  left: 136px;
  top: 87px;

  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 146.3%;
  text-decoration: none;
  /* or 29px */

  letter-spacing: 0.02em;
}

.reviews {
  position: absolute;
  color: white;
  position: absolute;
  width: 420px;
  height: 57px;
  left: 136px;
  top: 99px;
  text-decoration: none;
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 146.3%;
  /* or 29px */

  letter-spacing: 0.02em;
}

.default {
  position: absolute;
  color: white;
  position: absolute;
  width: 420px;
  height: 57px;
  left: 136px;
  top: 62px;
  text-decoration: none;
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 146.3%;
  /* or 29px */

  letter-spacing: 0.02em;
}

.main {
  top: 200px;
  left: 200px;
}

.container {
  padding-left: 170px;
}

 .font--main {
  top: 10px;
  left:1px;
 }