body {
  font-family: "Gill Sans", sans-serif;
  overflow-x: hidden; 
  color: rgba(255, 255, 255, 0.622);}

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3 ;
            animation-duration: .3s; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
  .container{
    display: grid;
    align-content: center;
    grid-template-columns: 25% 25% 25% 25%;
  }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title{
  font-weight: bold; 
  color:#fff;
}
.subdetail{
  color: #fff;
  font-size: large;
  font-weight: lighter;
}

.alphabox{
  
    float: left;
    margin: 16px;
    width: 55px;
    height: 55px;
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
    background: rgba(255, 230, 194, 0.69);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}.alphabox1:hover{
    background: rgba(255, 213, 151, 0.69);
    color: #fff; }

.alphabox2{
    position: absolute;
    float: left;
    margin: 16px;
    width: 55px;
    height: 55px;
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
    background: rgba(255, 230, 194, 0.69);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}.alphabox2:hover{
    background: rgba(255, 213, 151, 0.69);
    color: #fff; }

.alphabox3{
    position: absolute;
    float: left;
    margin: 16px;
    width: 55px;
    height: 55px;
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
    background: rgba(255, 230, 194, 0.69);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}.alphabox3:hover{
    background: rgba(255, 213, 151, 0.69);
    color: #fff; }

.dic_box{
  position: relative;
  float: left;
  margin: 20px 40px;
  width: 300px;
  height: 130px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  background: rgba(255, 230, 194, 0.69);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}.dic_box:hover{
  background: rgba(255, 213, 151, 0.69);
  color: #fff; }

.alpha{
  position: relative;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #000;
}

.word{
  padding: 5px 5px 1px 5px;
  position: relative;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #000;
}
.explain{
  padding: 1px 5px ;
  position: relative;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #000;
}

.action1{
  position: fixed;
  left: 5%;
  top: 30%;
 
}
.action2{
  position: fixed;
  left: 11%;
  top: 30%;
 
}
.action3{
  position: fixed;
  left: 17%;
  top: 30%;
 
}
.action4{
  position: fixed;
  left: 23%;
  top: 30%;
 
}
.action5{
  position: fixed;
  left: 29%;
  top: 30%;
 
}
.action6{
  position: fixed;
  left: 35%;
  top: 30%;
 
}
.action7{
  position: fixed;
  left: 41%;
  top: 30%;
 
}
.action8{
  position: fixed;
  left: 47%;
  top: 30%;
 
}
.action9{
  position: fixed;
  left: 53%;
  top: 30%;
 
}
.action10{
  position: fixed;
  left: 59%;
  top: 30%;
 
}
.action11{
  position: fixed;
  left: 65%;
  top: 30%;
 
}
.action12{
  position: fixed;
  left: 71%;
  top: 30%;
 
}
.action13{
  position: fixed;
  left: 77%;
  top: 30%;
 
}
.action14{
  position: fixed;
  left: 83%;
  top: 30%;
 
}


.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.wineinfolink{
  color: #000;
  font-weight: bolder;
  font-size: large;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

            .bg-gradient-main {
              background-color: #B83642 ;
              background-image: linear-gradient(180deg, #B83642 10%,#d64e5b 100%);
              background-size: cover;
            }

