body {
    font-family: "Gill Sans", sans-serif;
    overflow-x: hidden; 
}
  
  
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .price, .alcohol,.year,.type,.region,.pairing{
    
    font-weight: bold; }

  .title{
    font-weight: bolder;
    font-size: 45px;
    color:#fff;
   }

  .product-title{
    margin: auto;
    font-weight: bold;
    color:#fff;
  }
  .subdetail{
    height: 66px;
    width: 533px;
    left: 515px;
    top: 155px;
    color: rgb(252, 241, 241);
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
  }
  .box1{
    position: fixed;
    width: 230px;
    height: 230px;
    left: 250px;
    top: 350px;
    background: #FFFFFF;
    border-radius: 16px;
  }

  .box2{
    position: fixed;
    width: 230px;
    height: 230px;
    left: 600px;
    top: 350px;
    background: #FFFFFF;
    border-radius: 16px;
  }

  .box3{
    position: fixed;
    width: 230px;
    height: 230px;
    left: 950px;
    top: 350px;
    background: #FFFFFF;
    border-radius: 16px;
  }
  .wineinfolink{
    color: #000;
    font-weight: bolder;
    font-size: large;
  }

  .arrow-prev,
  .arrow-next {
    position: relative;
  }

  .arrow-prev::after {
    position: absolute;
    left: 35px; 
    top: 20px;
    content: '';
    width: 50px; /* 사이즈 */
    height: 50px; /* 사이즈 */
    border-top: 10px solid #000; /* 선 두께 */
    border-right: 10px solid #000; /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
  }

  .arrow-next::after {
    position: fixed;
    left: 1280px; 
    top: 430px; 
    content: '';
    width: 70px; /* 사이즈 */
    height: 70px; /* 사이즈 */
    border-top: 10px solid #000; /* 선 두께 */
    border-right: 10px solid #000; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
  }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
              .bg-gradient-main {
                background-color: #B83642 ;
                background-image: linear-gradient(180deg, #B83642 10%,#d64e5b 100%);
                background-size: 100%;
              }