body {
  margin: 0; padding: 0;
  background-color: #B83642 ;
  background-repeat: no-repeat; }

.nav-link {
  color: black;
}

.title {
  position: absolute;
  width: 124px;
  height: 107px;
  left: 150px;
  top: 115px;
  
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 106.3%;
  /* or 64px */
  
  letter-spacing: -0.01em;
  
  color: rgba(250, 250, 250, 0.91);
}

.stars {
  position: absolute;
  color: white; 
  width: 434px;
  height: 57px;
  left: 136px;
  top: 87px;

  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 146.3%;
  text-decoration: none;
  /* or 29px */

  letter-spacing: 0.02em;
}

.reviews {
  position: absolute;
  color: white;
  position: absolute;
  width: 420px;
  height: 57px;
  left: 136px;
  top: 99px;
  text-decoration: none;
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 146.3%;
  /* or 29px */

  letter-spacing: 0.02em;
}

.default {
  position: absolute;
  color: white;
  position: absolute;
  width: 420px;
  height: 57px;
  left: 136px;
  top: 62px;
  text-decoration: none;
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 146.3%;
  /* or 29px */

  letter-spacing: 0.02em;
}

.main {
  top: 200px;
  left: 200px;
}


.container {
  padding-left: 170px;
}

 .font--main {
  top: 10px;
  left:1px;
 }

.winepic1{
  position: absolute;
  left: 7%;
}
   
.image {
  width: 130px;
  height: 130px;
}

.image--center {
  margin-left: auto;
  margin-right: auto;
}

.winename{
  position: absolute;
  height: 35px;
  left: 170px;
  top: 30px;
  width: 250px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.year {
  position: absolute;
  height: 35px;
  left: 170px;
  top: 60px;
  width: 250px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.winetype {
  position: absolute;
  height: 35px;
  left: 170px;
  top: 90px;
  width: 250px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

