body {
  font-family: "Gill Sans", sans-serif;
  overflow-x: hidden; 
  color: rgba(255, 255, 255, 0.622);}

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3 ;
            animation-duration: .3s; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
  .container{
    display: grid;
    align-content: center;
    grid-template-columns: 25% 25% 25% 25%;
  }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title{
  font-weight: bold; 
  color:#fff;
}
.subdetail{
  color: #fff;
  font-size: large;
  font-weight: lighter;
}

.alphabox{
    float: left;
    margin: 10%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
    background: rgba(255, 230, 194, 0.69);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}.alphabox:hover{
    background: rgba(255, 213, 151, 0.69);
    color: #fff; }

.dic_box{
  position: relative;
  margin: 20px 20%;
  width: 88%;
  height: 120px;
  border: 1px solid #000;
  border-radius: 10px;
  
  text-align: center;
  background: rgba(255, 230, 194, 0.69);
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}.dic_box:hover{
  background: rgba(255, 213, 151, 0.69);
  color: #fff; }

.alpha{
  position: relative;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #000;
}

.word{
  margin-top: 2%;
  padding: 0.5% 1%;
  position: relative;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #000;
}
.explain{
  padding: 1px 5px ;
  position: relative;
  font-family: "Gill Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #000;
}

.action1{
  position: fixed;
  left: 94.5%;
  top: 1%;
 
}
.action2{
  position: fixed;
  left: 94.5%;
  top: 8%;
 
}
.action3{
  position: fixed;
  left: 94.5%;
  top: 15%;
 
}
.action4{
  position: fixed;
  left: 94.5%;
  top: 22%;
 
}
.action5{
  position: fixed;
  left: 94.5%;
  top: 29%;
 
}
.action6{
  position: fixed;
  left: 94.5%;
  top: 36%;
 
}
.action7{
  position: fixed;
  left: 94.5%;
  top: 43%;
 
}
.action8{
  position: fixed;
  left: 94.5%;
  top: 50%;
 
}
.action9{
  position: fixed;
  left: 94.5%;
  top: 57%;
 
}
.action10{
  position: fixed;
  left: 94.5%;
  top: 64%;
 
}
.action11{
  position: fixed;
  left: 94.5%;
  top: 71%;
 
}
.action12{
  position: fixed;
  left: 94.5%;
  top: 78%;
 
}
.action13{
  position: fixed;
  left: 94.5%;
  top: 85%;
 
}
.action14{
  position: fixed;
  left: 94.5%;
  top: 92%;
 
}


.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.wineinfolink{
  color: #000;
  font-weight: bolder;
  font-size: large;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

            .bg-gradient-main {
              background-color: #B83642 ;
              background-image: linear-gradient(180deg, #B83642 10%,#d64e5b 100%);
              background-size: cover;
            }

