/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Web Fonts - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/*font-family: 'Noto Sans KR', sans-serif; */

/* Web Fonts - Noonnoo */
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff')format('woff');
    font-weight: normal;
    font-style:  normal;
}


.bg-gradient-main {
    background-color: #B83642 ;
    background-image: linear-gradient(180deg, #B83642 10%,#d64e5b 100%);
    background-size: cover;
  }


/* Reset CSS */
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;

}
button, input {
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    font-weight: normal;
    line-height: 1.5em;
}

/* Default css */
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    margin: 0;
    background-color: #fff;
    color: #222;

}

/* ##################### header ###################### */
header {
    margin-left: 30px;
    background-color:rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 100;
    
}
.header-inner {

    width: 1300px;
    /*margin: auto;*/
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 15px;

   
    
    
}
.logo {
    float: left;
    width: 5px;
    height: 5px;
}
.gnb{
    float: left;
}
.gnb a {
   
    margin: 20px;
    font-size: 15px;
}
/* ##################### section: 메인페이지 ###################### */
.welcome {
    /*border: 5px solid #000; */
    
    width:100%;
    height:auto;
    position: relative;

}
.slideshow {}
.welcome-heading {
    position:absolute;
    
    left: 100px;
    text-align: left;
   
    top: 17%;
}
.welcome-heading span {
    
}
.welcome-heading h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 90px;
    font-weight: 800;
    line-height: 1.2em;
    margin-top: 15px;
    margin-bottom: 30px;
}
.welcome-heading h1 em {
    display: block;
    font-style: normal;
    color: #eb4d4b;

}
.welcome-heading p {
    font-size: 15px;
    color:rgba(34, 34, 34, 0.631);
    padding-bottom: 25px;

}

.welcome-btns {}
/*.welcome-btns .btn {
    display: inline-block;
    width: 180px;
    padding: 8px;
    color:#fff;
    border-radius: 6px;
    margin: 5px;
    transition: 0.5s;
    text-align: center;
    font-weight: 200;


} */
.welcome-btns .btn {
    /*    border: 1px solid #000;*/
        font-size: 18px;
        font-weight:bold;
        display: inline-block;
        width: 200px;
        padding: 10px;
        color: #fff;
        border-radius: 5px;
        margin: 5px;
        transition: 0.5s;
        background-color: #AF1A27;
        text-align: center;
    }
.btn:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.btn.start {
    background-color: #AF1A27;
}
.btn.guide {
    background-color:#AF1A27;

}

/* @@@@@@@@@@@@@@@@@@@@@ slick custom css @@@@@@@@@@@@@@@@@ */
.slideshow .slick-arrow{
    border:1px solid #000;
    display: none !important;
}

.slideshow *{
    outline: none;
}
/* ##################################### section:서비스 소개 #################################### */
.introduce {

    position: relative;
    width:100%;
    height:1750px;
]
        
}
.title h1{
    /* We Help you to choose your Best wine */
    position: relative;
    width: 661px;
    height: 40px;
    left: 200px;
    top: 100px;

    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    margin-bottom: 0;


    color: #fff;

}
.title p{
    position: absolute;
    width: 571px;
    height: 228px;
    left: 200px;
    top: 120px;
    margin-top: 30px;

    font-weight: 700;
    font-size: 50px;
    line-height: 140%;


    color: #fff;

}


.info-btns .btn {
    /*    border: 1px solid #000;*/
        font-size: 18px;
        font-weight:bold;
        display: inline-block;
        width: 150px;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #fff;
        border-radius: 8px;
        margin: 5px;
        transition: 0.5s;
        background-color: #AF1A27;
        text-align: center;
        position: absolute;
        left: 17.3%; 
        top: 22%;

        
    }
.btn:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
   
}
.btn.news{
    background-color: #FFE297;
   
}
.btn.mywine {
    background-color:#FFE297;
   left: 56%;
 
  
}
.btn.dictionary{
    background-color: #FFE297;
  top: 48%;
}
.btn.btn.recommendation{
    background-color: #FFE297;
    left: 56%;
    top: 48%;
}
.btn.map{
    background-color: #FFE297;
  top: 74%;
}
.btn.login{
    background-color: #FFE297;
    left: 56%;
    top: 74%;
}
.infodetail{

}


.info1{
    width: 500px;
    left:260px;
    top: 560px;
  
    color: rgba(34, 34, 34, 0.4);
    font-weight: lighter;
    position: absolute;
  

}
.info1 h2{
    font-size: 30px;
    color:#000000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.info1 h3{
    font-size: 25;
    color:#000000;
    margin-bottom: 3px;
    line-height: 2em;
}

.info2{
    width: 500px;
    left:260px;
    top: 1015px;
  
    color:#000000;
    font-weight: lighter;
    position: absolute;

}
.info2 h2{
    font-size: 30px;
    color:#000000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info2 h3{
    font-size: 25;
    color:#000000;
    margin-bottom: 3px;
    line-height: 2em;
}
.info3{
    width: 500px;
    left:260px;
    top: 1470px;
  
    color:#000000;
    font-weight: lighter;
    position: absolute;

}
.info3 h2{
    font-size: 30px;
    color:#000000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info3 h3{
    font-size: 25;
    color:#000000;
    margin-bottom: 3px;
    line-height: 2em;
}
.info4{
    width: 500px;
    left:840px;
    top: 560px;
  
    color:#000000;
    font-weight: lighter;
    position: absolute;

}
.info4 h2{
    font-size: 30px;
    color:#000000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info4 h3{
    font-size: 25;
    color:#000000;
    margin-bottom: 3px;
    line-height: 2em;
}
.info5{
    width: 500px;
    left:840px;
    top: 1015px;
  
    color:#000000;
    font-weight: lighter;
    position: absolute;

}
.info5 h2{
    font-size: 30px;
    color:#000000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info5 h3{
    font-size: 25;
    color:#000000;
    margin-bottom: 3px;
    line-height: 2em;
}
.info6{
    width: 500px;
    left:840px;
    top: 1470px;
  
    color:#000000;
    font-weight: lighter;
    position: absolute;

}
.info6 h2{
    font-size: 30px;
    color:#000000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info6 h3{
    font-size: 25;
    color:#000000;
    margin-bottom: 3px;
    line-height: 2em;
}