<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wine recommendation : Main page </title>
    <link rel="icon" href="../static/static_seohyun/images/wineicon.png">
    <!--bootsrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="../static/css/login.css">


  </head>
  <body  class="bg-gradient-main">
    
    <!--top navar-->
    <nav class="navbar navbar-expand-lg py-3  fixed-top">

      <div class="container-fluid">
        
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"  >
            
            <li class="nav-item">
              <a href="/" class="navbar-brand align-middle" style="margin-right: 20px;  margin-left: 20px; ">
                <img src="../static/static_seohyun/images/wineicon.png" height="20px">
              </a>
            </li>
            <li class="nav-item">
              <a href="/service" class="nav-link" style="margin-right: 20px; ">
                서비스 소개
              </a>
            </li>
            <li class="nav-item">
              <a href="/winenews" class="nav-link" style="margin-right: 20px;">
                와인소식
              </a>
            </li>
            <li class="nav-item">
              <a href="/winedic" class="nav-link" style="margin-right: 20px;">
                와인용어사전
              </a>
            </li>
            <li class="nav-item">
              <a href="/winemap" class="nav-link" style="margin-right: 20px;">
                와인지도
              </a>
            </li>
            <li class="nav-item">
              <a href="/winelist" class="nav-link" style="margin-right: 20px;">
                와인검색
              </a>
            </li>
            <li class="nav-item">
              <a href="/mywine" class="nav-link" style="margin-right: 20px;">
                나의와인
              </a>
            </li>
            <li class="nav-item">
              <a href="/winetest1" class="nav-link" style="margin-right:20px;">
                와인 추천받기 
              </a>
            </li>
            <li class="nav-item">
              <a href="/wineinfo" class="nav-link" style="margin-right: 20px;">
                와인정보
              </a>
            </li>
            <li class="nav-item">
              <a href="/contactus" class="nav-link" style="margin-right: 20px;">
                Contact Us 
              </a>
            </li>
            {% if user_name %}
              <li class="nav-item">
                <a class="nav-link" style="margin-right: 20px;">
                  {{ user_name }}님
                </a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link">
                  Logout
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="/login" class="nav-link">
                  Login
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row" style="margin-bottom: 3.8%">
        <div class="col-xl-7 col-lg-6 col-md-3 col-sm-3">
              <img src="../static/static_seohyun/images/Group 2036.png" class="img">
          
        </div>
        <div class="col-xl-4 col-lg-6 col-md-9 col-sm-9  " style="margin-top: 60px; ">
          <div class="card o-hidden border-0 shadow-lg  my-5  " style="height: 650px; background-color:#fEEAEA; ">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-12  d-none d-lg-block "></div>
                <div class="col-lg-12 ">
                  <div class="p-5 ">
                    <div class="text-center" style="margin-bottom: 50px;">
                      <h2 class=" text-gray-900 mb-4">Dating-wine service</h2>
                      <h3 class=" text-gray-900 mb-4">다양한 와인서비스를 즐겨보세요!</h3>
                    </div>
                    <img src="../static/static_seohyun/images/winelogin2.png" height="300px" width="400px">
                    <hr>
                    <a href="/google_login" class="btn btn-google btn-user btn-block">
                      <!-- <i class="fab fa-google fa-fw"></i> -->
                      <p class="fs-3" style="margin-top: 5%;"><img src="../static/static_seohyun/images/free-icon-search-281764.png" height="50px" width="50" style="margin-right: 2%;">   Login with Google</p>
                  </a>
                  </div>
                </div>
    
    
              </div>
            </div>
          </div>
        </div>
    
      </div>
    
    
    </div>

        

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="assets/js/sb-admin-2.js"></script>
  </body>
</html> 