<!doctype html>
<html lang="ko">
  <head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wine recommendation : Main page </title>
    <link rel="icon" href="../static/static_jiyeon/images/wineicon.png">
    <!--bootsrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--slick slider-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--custom css--> 
 
    <link href="../static/static_jiyeon/css/winetest2.css" rel="stylesheet">
  </head>

  <body class="bg-gradient-main">
    <!--top navar-->
    <nav class="navbar navbar-expand-lg py-3  sticky-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"  >
            
            <li class="nav-item">
              <a href="mainpage.html" class="navbar-brand align-middle" style="margin-right: 20px;  margin-left: 20px; ">
                <img src="../static/static_seohyun/images/wineicon.png" height="20px">
              </a>
            </li>
            <li class="nav-item">
              <a href="service.html" class="nav-link" style="margin-right: 20px; ">
                서비스 소개
              </a>
            </li>
            <li class="nav-item">
              <a href="winenews.html" class="nav-link" style="margin-right: 20px;">
                와인소식
              </a>
            </li>
            <li class="nav-item">
              <a href="winedic.html" class="nav-link" style="margin-right: 20px;">
                와인용어사전
              </a>
            </li>
            <li class="nav-item">
              <a href="winemap.html" class="nav-link" style="margin-right: 20px;">
                와인지도
              </a>
            </li>
            <li class="nav-item">
              <a href="winelist.html" class="nav-link" style="margin-right: 20px;">
                와인검색
              </a>
            </li>
            <li class="nav-item">
              <a href="mywine.html" class="nav-link" style="margin-right: 20px;">
                나의와인
              </a>
            </li>
            <li class="nav-item">
              <a href="winetest1.html" class="nav-link" style="margin-right:20px;">
                와인 추천받기 
              </a>
            </li>
            <li class="nav-item">
              <a href="wineinfo.html" class="nav-link" style="margin-right: 20px;">
                와인정보
              </a>
            </li>
            <li class="nav-item">
              <a href="contactus.html" class="nav-link" style="margin-right: 20px;">
                Contact Us 
              </a>
            </li>
            <li class="nav-item">
              <a href="login.html" class="nav-link">
               Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>

    <div class="wrapper row">
      <div class="preview col-md-4" >
        <h1 class="product-title" style=" margin-bottom: 50px; padding-left: 100px; margin-top: -40px;">와인 취향 테스트</h1>
      </div>
      <div class="preview col-md-8" >
        <h1 class="subdetail" style=" margin-bottom: 50px; margin-left: -80px; margin-top: -30px;">나의 취향에 맞는 와인을 추천해드립니다.<br>아래의 설문에 답을 해주세요.</h1>
      </div>
    </div>
    <div class="wrapper row">
      <div class="preview col-md-2 " style="padding-left: 150px; padding-top: 20px;" >
          <h2 class="question" tyle=" margin-bottom: 50px; padding-left: 0px; margin-top: 50px;"> 2. 함께하고 싶은 음식 하나를 선택해주세요.</h2>
      </div>
      <div class="box1 col-md-9" style="padding-left:0px; padding-top: 0px;" >
        <form action="">
          <input button class="circle1 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food1">닭고기</h4>
          <button class="circle2 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food2">돼지고기</h4>
          <button class="circle3 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food3">소고기</h4>
          <button class="circle4 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food4">양고기</h4>
          <button class="circle5 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food5">버섯</h4>
          <button class="circle6 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food6">채소</h4>
          <button class="circle7 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food7">흰살생선</h4>
          <button class="circle8 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food8">연어/참치</h4>
          <button class="circle9 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food9">조개</h4>
          <button class="circle10 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food10">딱딱한 치즈</h4>
          <button class="circle11 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food11">부드러운 치즈</h4>
          <button class="circle12 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food12">블루 치즈</h4>
          <button class="circle13 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food13">파스타</h4>
          <button class="circle14 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food14">패스트푸드</h4>
          <button class="circle15 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food15">에피타이저</h4>
          <button class="circle16 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food16">과일 디저트</h4>
          <button class="circle17 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food17">단 디저트</h4>
          <button class="circle18 btn btn-default col-md-3" type="button" style="padding-left: 0px; padding-top: 0px;" ></button>
          <h4 class="food18">식전주</h4>                
        </form>
      </div>
      <span>
        <form action="winetest1.html">
          <button type="submit" class="arrow-prev" value="" style="margin-left: -100px;"></button>
        </form>
      </span>
      <span>
        <form action="winetest3.html">
          <button type="submit" class="arrow-next" value="" style="margin-left: -100px;"></button>
        </form>
      </span>
      </div>
    </div>                       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html> 