<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wine recommendation : Main page </title>
    <link rel="icon" href="../static/static_jiyeon/images/wineicon.png">
    <!--bootsrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--slick slider-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--custom css--> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/winedic.css') }}">
    <link href="../static/css/winedic.css" rel="stylesheet">
  </head>

  <body class="bg-gradient-main">
    <!--top navar-->
    <nav class="navbar navbar-expand-lg py-3  sticky-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"  >

            <li class="nav-item">
              <a href="/" class="navbar-brand align-middle" style="margin-right: 20px;  margin-left: 20px; ">
                <img src="../static/static_seohyun/images/wineicon.png" height="20px">
              </a>
            </li>
            <li class="nav-item">
              <a href="/service" class="nav-link" style="margin-right: 20px; ">
                서비스 소개
              </a>
            </li>
            <li class="nav-item">
              <a href="/winenews" class="nav-link" style="margin-right: 20px;">
                와인소식
              </a>
            </li>
            <li class="nav-item">
              <a href="/winedic" class="nav-link" style="margin-right: 20px;">
                와인용어사전
              </a>
            </li>
            <li class="nav-item">
              <a href="/winemap" class="nav-link" style="margin-right: 20px;">
                와인지도
              </a>
            </li>
            <li class="nav-item">
              <a href="/winelist" class="nav-link" style="margin-right: 20px;">
                와인검색
              </a>
            </li>
            <li class="nav-item">
              <a href="/mywine" class="nav-link" style="margin-right: 20px;">
                나의와인
              </a>
            </li>
            <li class="nav-item">
              <a href="/winetest1" class="nav-link" style="margin-right:20px;">
                와인 추천받기 
              </a>
            </li>
            
            <li class="nav-item">
              <a href="/contactus" class="nav-link" style="margin-right: 20px;">
                Contact Us 
              </a>
            </li>
            {% if user_name %}
              <li class="nav-item">
                <a class="nav-link" style="margin-right: 20px;">
                  {{ user_name }}님
                </a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link">
                  Logout
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="/login" class="nav-link">
                  Login
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <div class="wrapper row">
      <div class="preview col-md-4" >
        <h1 class="product-title" style=" margin-bottom: 10%; padding-left: 21%; margin-top: -40px;">와린이들을 위한,<br>와인 용어 사전</h1>
      </div>
      <div class="preview col-md-8" >
        <h1 class="subdetail" style=" margin-bottom: 10%; margin-left: -7%; margin-top: 5px;">꼭 필요한 개념들만 모아 정리했습니다.<br>생소한 와인 용어에 대해 알아가보세요!</h1>
      </div>
    </div>  

    <div class="container-fluid mt-5">
      <div class="row" style="margin-bottom: 37.1%;">
        <div class="preview col-md-12">
            <a href="#al1">
              <div class="action1">
                <button class="alphabox btn btn-default" type="button">ㄱ</button>  
              </div>
            </a>
            <a href="#al2">
              <div class="action2">
                <button class="alphabox btn btn-default" type="button">ㄴ</button></a>   
              </div>
            </a>
            <a href="#al3">
              <div class="action3">
                <button class="alphabox btn btn-default" type="button">ㄷ</button>      
              </div>
            </a>
            <a href="#al4">
              <div class="action4">
                <button class="alphabox btn btn-default" type="button">ㄹ</button>      
              </div>
            </a>
            <a href="#al5">
              <div class="action5">
                <button class="alphabox btn btn-default" type="button">ㅁ</button>      
              </div>
            </a>
            <a href="#al6">
              <div class="action6">
                <button class="alphabox btn btn-default" type="button">ㅂ</button>      
              </div>
            </a>
            <a href="#al7">
              <div class="action7">
                <button class="alphabox btn btn-default" type="button">ㅅ</button>      
              </div>
            </a>
            <a href="#al8">
              <div class="action8">
                <button class="alphabox btn btn-default" type="button">ㅇ</button>      
              </div>
            </a>
            <a href="#al9">
              <div class="action9">
                <button class="alphabox btn btn-default" type="button">ㅈ</button>      
              </div>
            </a>
            <a href="#al10">
              <div class="action10">
                <button class="alphabox btn btn-default" type="button">ㅊ</button>      
              </div>
            </a>
            <a href="#al11">
              <div class="action11">
                <button class="alphabox btn btn-default" type="button">ㅋ</button>      
              </div>
            </a>
            <a href="#al12">
              <div class="action12">
                <button class="alphabox btn btn-default" type="button">ㅌ</button>      
              </div>
            </a>
            <a href="#al13">
              <div class="action13">
                <button class="alphabox btn btn-default" type="button">ㅍ</button>      
              </div>
            </a>
            <a href="#al14">
              <div class="action14">
                <button class="alphabox btn btn-default" type="button">ㅎ</button>      
              </div>
            </a>
        </div>
    </div>
    <div class="preview row-md-8">
      <h2 class="alpha" id="al1"  style="margin-top: -45%; margin-left: 4%;" >ㄱ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%; margin-right:-2%;">
      <div class="dic_box">
        <h3 class="word">갈변(browning)</h3>
        <h4 class="explain">오래된 와인에서 숙성의 정도를 나타날 때 사용되는 용어. 글라스 가장 자리로 갈변이 생겼을 경우, 그것은 충분히 숙성되어 이제 막 절정기를 지나고 있음을 알려주는 것. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">까베르네 소비뇽<br>(Cabernet Sauvignon) </h3>
        <h4 class="explain">세계적으로 가장 유명한 레드와인 포도품종.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">까리냥(Carignan) </h3>
        <h4 class="explain">원산지는 스페인이나 프랑스에서도 널리 재배되는 적포도 품종. 진한 보라빛으로 탄닌과 알콜 성분이 높고, 진하고, 풍부하고, 과일향이 나며 스파이시한 향을 지님.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">까바(Cava) </h3>
        <h4 class="explain">스페인에서 생산되는 스파클링 와인.<br> 이는 과일향이 남아있는 영한 상태에서 먹는 게 좋음
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">가당(chaptalization) </h3>
        <h4 class="explain">와인의 알콜 함량을 높이기 위해 발효 도중 당을 첨가하는 과정. 보통 추운 지역에서 덜 익은 포도로 와인을 만들 때 사용.
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">강화 와인(fortified wine)</h3>
        <h4 class="explain">와인에 알콜을 첨가하여 알콜함량을 높인 와인. 보통 와인은 11~14%인 반면 15~21%의 알콜. 종류로는 포트, 마데이라, 쉐리.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">그란 리제르바(Gran Reserva)</h3>
        <h4 class="explain">스페인의 고급 와인. 이 와인들은 법으로 숙성 기간이 정해짐 레드 와인의 경우 최소한 5년 이상 숙성, 화이트 와인의 경우 4년 이상 숙성.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">그랑 크뤼(Grand Cru)</h3>
        <h4 class="explain">프랑스 부르고뉴나 알사스 지방에서 최고급 포도원이나 최고급 와인을 만들어 내는 마을을 가리킴.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">끼안띠(Chianti) </h3>
        <h4 class="explain">미디엄 바디에서 풀 바디 테이블 레드와인으로 이태리 토스카나 지역에서 생산되는 와인. 블랜딩을 하는 와인이지만 사용되는 주 포도품종은 산지오베제(Sangiovese).
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al2" style="margin-top: 3%; margin-left: 4%;" >ㄴ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">나파(Napa) </h3>
        <h4 class="explain">현재 약 200여개의 포도원 양조장이 있는 샌프란시스코 북부 지역의 마을로 캘리포니아의 최상급 와인들이 생산됨
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">네뷰커드네저<br>(Nebuchadnezzar) </h3>
        <h4 class="explain">샴페인을 담는 커다란 병. 750ml 20병/15리터 크기
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 네고시앙(negociant)</h3>
        <h4 class="explain">와인상인, 와인중개인, 와인을 사거나 파는 해운업자를 가리키는 프랑스어
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">노블롯 (Noble Rot)</h3>
        <h4 class="explain">주로 보트리티스 시네리아(Botrytis cinerea) 라고 하는데 극소량의 훌륭한 디저트 와인을 만드는 유익한 곰팡균
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">노블와인(noble wine) </h3>
        <h4 class="explain">조화, 밸런스, 우아함, 복잡 미묘함 등에 있어서 완벽한 와인인 최고 중 최고의 와인
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">논빈티지(non-vintage (NV))</h3>
        <h4 class="explain">각기 다른 해에 만들어진 와인으로 블랜딩한 와인
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">누보(Nouveau) </h3>
        <h4 class="explain">새로운(new)의 프랑스어. 보졸레 와인으로 영(young) 하고 신선하며 과일 맛이 뛰어나며 오래 숙성시키지 않은 라이트 바디의 와인.
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al3"  style="margin-top: 3%; margin-left: 4%;" >ㄷ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word"> 데미 섹(Demi-sec)  </h3>
        <h4 class="explain">샴페인 용어로 중간정도 달다(medium-sweet) 라는 뜻.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 돌체또(Dolcetto) </h3>
        <h4 class="explain">이탈리아 피에몬테 지방에서 재배되는 산도가 낮은 적포도품종.  진한 자주색을 내며, 과일향, 아몬드향, 감초향이 나는 부드러운 와인을 생산함,
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 디저트 와인(dessert wine) </h3>
        <h4 class="explain"> 일반적으로 포트나 쉐리, 마데이라, 소테른 같은 단 와인을 말함. 꼭 디저트용으로만 먹지 않아도 됨.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 디캔터(decanter)</h3>
        <h4 class="explain">디캔팅하는 용기. 유리나 크리스탈로 만들어짐. 적어도 와인 한병(750ml)보다는 용량이 커야 함
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 디켄팅(Decanting) </h3>
        <h4 class="explain">병에 있는 와인의 침전물을 없애기 위해 조심스럽게 와인을 따라 다른 깨끗한 병으로 와인을 옮겨 따르고 뒤에 남은 찌꺼기는 버리는 것. 
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">떼루아(terroir) </h3>
        <h4 class="explain">포도가 자라는 데 영향을 주는 지리적인 요소, 기후적인 요소, 포도재배법 등을 모두 포괄하는 단어. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 떼뜨 드 뀌베(tete de cuvee) </h3>
        <h4 class="explain">와인생산자가 내세우는 최고의 와인, 최고의 샴페인을 말함. 비싼 빈티지 샴페인의 라벨에서 종종 찾아볼 수 있음. 
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al4"  style="margin-top: 3%; margin-left: 4%;" >ㄹ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word"> 레그(legs) </h3>
        <h4 class="explain">와인을 돌리거나 마실 때 잔 안쪽으로 흘러내리는 것. 와인의 바디감과 질을 판단해주는 지표로 삼기도 함. 와인의 ‘눈물’이라 부르기도 함.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 레이트 하비스트<br>(late harvest) </h3>
        <h4 class="explain">포도의 당도가 더 높아질 때까지 기다렸다가 수확하는 것을 말함. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 레치오토(Recioto) </h3>
        <h4 class="explain"> 반건조된 포도로 만들어진 이탈리아 와인으로 농축된 향과 당도를 지니고 있음.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">로어 벨리(Loiore Valley)  </h3>
        <h4 class="explain">프랑스의 로어 (Loire) 강을 따라 위치한 큰 규모의 와인 지역. 주요 지역은 앙쥬(Anjou), 뮈스까데(Muscadet), 토레인(Touraine).
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">로제 (Rose)  </h3>
        <h4 class="explain">프랑스말로 핑크색 와인 이라는 뜻으로 전 세계적으로 사용되는 용어
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">르뮈아쥬(remuage) </h3>
        <h4 class="explain">riddling(수수께끼)의 불어로 오랜 숙성기간 동안 형성된 병내 침전물, 효모가 알코올과 탄산가스를 생성한 후 병 바닥에 쌓인 찌꺼기를 병 입구 쪽으로 모으는 과정
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 리스(lees)</h3>
        <h4 class="explain">발효 탱크 바닥에 가라앉은 침전물, 앙금을 말함. 이스트, 씨, 포도껍질, 펄프, 줄기 등으로 이루어져 있음
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 리저브(Reserve)</h3>
        <h4 class="explain">와이너리에서 가장 좋은 와인을 의미하는 것으로 사용됨. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 리즐링(Riesling)</h3>
        <h4 class="explain">독일에서 제일 많이 재배되는 품종. 산도는 높으며 꽃향기를 포함하는 상큼한 향을 가지고 있음. 대표적인 화이트 와인 포도품종.
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al5"  style="margin-top: 3%; margin-left: 4%;" >ㅁ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word"> 마데이라(Madeira) </h3>
        <h4 class="explain">호박색, 캐러멜향을 가지고 있고, 알콜 도수가 높은 와인. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 마데라이즈드(maderized) </h3>
        <h4 class="explain">지나친 산화나 과열, 오랜 숙성으로 와인이 상하게 된 것을 말함. 호박색이며, 마데리아 와인의 카라멜향과 비슷한 향이 남.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 말바시아(Malvasia) </h3>
        <h4 class="explain"> 적포도 품종으로는 가볍고 향기좋은 와인을 만들고, 청포도 품종으로는 달콤한 강화와인을 만듦.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">말벡(Malbec) </h3>
        <h4 class="explain">보르도에서 재배되는 적포도품종으로 까베르네 소비뇽, 까베르네 프랑, 멜로와 함께 블랜딩힘. 진한 칼라, 풀바디, 탄닌이 많이 들어 있음.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 머스트(must)</h3>
        <h4 class="explain">발효되지 않은 포도즙. 레드 와인인 경우 포도껍질, 씨, 펄프 등도 함께 포함하고 있음.
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">멜로(Merlot)  </h3>
        <h4 class="explain">부드럽고, 과일향이 풍부하고, 까베르네 소비뇽보다 탄닌 성분이 적은 적포도 품종. 주로 까베르네 소비뇽과 블렌딩
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">무르베드르(Mourvedre) </h3>
        <h4 class="explain">프랑스 남부나 스페인 같은 더운 지역에서 잘 자라는 포도품종. 진한 색, 높은 알콜함량, 농축된 과일향, 후추향, 스파이시한 특성.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">뮈스까(Muscat) </h3>
        <h4 class="explain">2백 가지 넘게 변종을 가지고 있는, 세계에서 가장 오래된 포도품종. 아주 다양한 기후에서 여러 가지 와인을 생산.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">뮈스카데(Muscadet)  </h3>
        <h4 class="explain">프랑스 뮈스까데 지방에서 생산되는 일반적으로 달콤하고 알코올 도수가 높은 라이트, 드라이 화이트 와인.
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al6"  style="margin-top: 3%; margin-left: 4%;" >ㅂ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  바디(body)</h3>
        <h4 class="explain">입안에서 느껴지는 와인의 무게감이나 점성도, 질감을 표현하는 용어. 알콜, 글리세린, 당의 함량에 따라 결정. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">바렐(barrel)  </h3>
        <h4 class="explain">와인을 저장, 숙성하기 위한 통. 크기, 사용연령, 나무의 종류, 구운 정도 등의 요소들이 와인에 영향을 줌. 복잡한 향을 부여해 주는 오크나무가 주로 재료로 사용.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 바르베라(Barbera) </h3>
        <h4 class="explain"> 이탈리아에서 널리 재배되는 적포도 품종의 하나. 높은 산도에 조화로운 맛을 가지고 있지는 않지만 워낙 가격이 싸므로 테이블 와인으로 많이 이용. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 발효(fermentation)</h3>
        <h4 class="explain">포도즙이 와인으로 변하는 과정. 포도 껍질에 자연적으로 존재하는 효모에 의해서 포도에 들어있는 당이 알콜과 이산화탄소로 변함. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 밸런스(Balance) </h3>
        <h4 class="explain">와인 평가를 할 때 사용되는 주관적인 용어. 산도, 당분, 탄닌, 알코올 도수와 향이 좋은, 조화를 이루는 맛을 느낄 때 밸런스가 있다고 말함.
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> 보졸레 누보<br>(Beaujolais nouveau)</h3>
        <h4 class="explain">프랑스의 보졸레 지방에서 생산된 와인 중에서, 그 해에 수확한 포도로 만들어 가장 처음 생산해서 마시는 햇와인. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 보틀 쇼크(bottle shock)</h3>
        <h4 class="explain">병입이나 선적 과정에서 와인을 부주의하게 다루었을 때 생기는 일시적인 현상. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">부케 (bouquet) </h3>
        <h4 class="explain">발효와 숙성 과정에서 일어나는 와인의 화학적 변화에 의해 형성된 향기를 말함.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 브뤼(brut)</h3>
        <h4 class="explain">프랑스어로 raw. 샴페인이나 스파클링 와인이 드라이한 맛을 지녔을 때 이 단어로 표현. 이 brut는 dry보다 더 드라이한 맛을 나타냄.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">블랑 드 누아<br>(blanc de noirs) </h3>
        <h4 class="explain">적포도품종(피노 누아, 피노 뫼니에)으로 만든 화이트 와인이나 샴페인을 가리킴.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 블랑 드 블랑<br>(blanc de blancs)</h3>
        <h4 class="explain">청포도품종(주로 샤도네이)으로만 만든 화이트와인이나 샴페인을 가리키는 말.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 블랜딩(Blending)</h3>
        <h4 class="explain">2가지 이상의 포도 품종들을 혼합하는 것. 서로 다른 포도품종, 포도원, 빈티지 등 여러 다른 요소들을 보다 더 좋은 와인을 만들기 위해 혼합.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 비네거(vinegar)</h3>
        <h4 class="explain">와인의 알콜 성분이 산소와 결합하여 아세트산을 만들어 내기 때문에 와인을 공기 중에 오래 방치시켜 두면 결국엔 식초가 됨. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 블랑 드 블랑(blanc de blancs)</h3>
        <h4 class="explain">캘리포니아에서 인기를 얻고 있는 청포도 품종. 수확량이 적고 질병에 걸리기 쉬운 단점잉있음.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 빈 (Vin) </h3>
        <h4 class="explain"> 프랑스어로 와인이라는 뜻. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 빈티지(vintage) </h3>
        <h4 class="explain">포도를 수확해서 포도주로 만든 해. 포도재배에 커다란 영향을 주는 날씨와 매우 밀접한 관련성을 가짐
          </h4>
      </div>

    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al7"  style="margin-top: 3%; margin-left: 4%;" >ㅅ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word"> 산도(acidity) </h3>
        <h4 class="explain">산들은 발효나 숙성과정 중 부패를 방지할 뿐만 아니라 와인의 달콤한 맛을 돋보이는 신맛을 주고, 와인 맛을 조화롭고 신선하게함. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 샤도네이(Chardonnay) </h3>
        <h4 class="explain">전 세계에서 가장 훌륭한 화이트 와인 포도 품종 풀바디이며, 알콜함량은 적당히 높고, 과일향이 풍부하며, 적당한 산도를 가지고 있음. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 샤르마(charmat) </h3>
        <h4 class="explain"> 스파클링 와인의 대량 생산 방법. 커다란 탱크에서 발효시킨 뒤 나중에 압력을 가해 병입하는 방식. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">세더먼트(sediment) </h3>
        <h4 class="explain">침전물. 오래 숙성시킨 와인 병에는 간혹 침전물이 생길 수 있음. 와인 속에 들어있는 탄닌, 색소 등이 바닥으로 가라앉은 것. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">세미용(Semillon) </h3>
        <h4 class="explain">쇼비뇽 블랑 품종과 블랜딩되어 드라이 화이트 와인을 만드는 청포도 품종. 
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">세컨드 와인(second wines) </h3>
        <h4 class="explain">와이너리에서 생산하는 와인을 자체적으로 분류, first 또는 principal wine으로 그 다음에는 second wine으로 구분.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 소노마(Sonoma) </h3>
        <h4 class="explain">나파 벨리와 버금가는 캘리포니아의 최고의 와인을 생산하는 지역으로 샌프란시스코의 북부 해안에 위치
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 소믈리에(sommelier)</h3>
        <h4 class="explain">손님들에게 음식과 어울리는 와인을 추천해주고 서빙해 주는 사람을 말함. 이밖에도 와인리스트를 작성하고, 와인의 구매와 저장을 담당. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">소테른(Sauternes)</h3>
        <h4 class="explain">귀부병이 일어날 수 있는 자연환경 때문에 고급 와인을 생산. 고급 소테른 와인은 각각 손으로 포도알을 수확해서 만들며, 적어도 5~10년 동안 숙성.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 쇼비뇽 블랑<br>(Sauvignon Blanc) </h3>
        <h4 class="explain">청포도 품종. 샤도네이 다음으로 세계적으로 많이 사용되는 테이블 와인용. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 솔레라(solera)</h3>
        <h4 class="explain">강화와인을 블랜딩하는 스페인의 전통적인 방법. 해마다 다를 수 있는 맛의 차이를 최소화하여 늘 일정한 품질을 유지시켜 줌
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 숙성(aging)</h3>
        <h4 class="explain">와인이 만들어진 때부터 서빙되는 때까지의 기간. 목적은 flavor를 발전시키기 위함.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">쉐리(Sherry) </h3>
        <h4 class="explain">스페인 헤레즈(jerez)지방에서 만들어진 강화와인. 발효가 다 끝난 다음에 브랜디를 첨가하여 solera 방식에 의한 숙성에 들어감.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 슈냉 블랑(Chenin Blanc)</h3>
        <h4 class="explain">프랑스의 발 드 루와르 지방의 화이트 와인용 포도품종. 적당한 알콜, 신맛, 미디엄 바디. 또한 스파클링 와인과 스위트 와인을 만들기도 함.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 스테미(stemmy)</h3>
        <h4 class="explain">너무 오랫동안 포도줄기와 함께 발효시키거나 마세라시용(maceration)을 하면 와인에서 이 냄새가 남.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 스틸 와인(Still wine) </h3>
        <h4 class="explain">발포성이 아닌 와인.<br> 즉, 와인에 탄산가스가 없음
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">스파클링 와인(Sparkling Wine) </h3>
        <h4 class="explain">이산화탄소가 들어있는 와인. 병이나 발효조 속에 당과 이스트를 첨가하면 이산화탄소가 발생되는데, 이것을 2차 발효.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 시라, 쉬라즈<br>(Syrah or Shiraz)</h3>
        <h4 class="explain">프랑스 론 지방에서 생산되는 유명한 와인. 진하고, 미디엄/풀바디의 와인. 
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al8"  style="margin-top: 3%; margin-left: 4%;" >ㅇ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  아로마(aroma)</h3>
        <h4 class="explain">와인의 원료로 사용된 포도 자체에서 나오는 향기
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 아세트산(acetic acid) </h3>
        <h4 class="explain">발효나 숙성 과정 중 장시간 산소에 노출되어 있거나 잘못된 병입과정에서는 a아세트산의 양이 늘어남. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 아이스바인(Eiswein) </h3>
        <h4 class="explain"> ‘언 와인(ice wine)’이란 뜻의 독일어. 언 상태의 포도송이를 수확한 뒤 짜내어 얻은 매우 당도 높은 포도즙으로 만든 와인으로 고당도와 고산도가 오묘한 조화를 이룸.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">아페리티프 와인<br> (Aperitif wine)  </h3>
        <h4 class="explain">식전에 마시는 와인
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">안젤리카(Angelica)  </h3>
        <h4 class="explain">달콤한 디저트 와인. 주로 호박색이고 독특한 향이 별로 없음.
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">알레아티코(Aleatico)  </h3>
        <h4 class="explain">주로 달콤한 디저트 와인으로 많이 사용되는 포도품종으로 무스캇(Muscat) 포도품종과 같은 향.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 알리고테(Aligote)</h3>
        <h4 class="explain">부르고뉴 지방에서 재배되고 있는 청포도. 드라이하고 레몬같은 신맛이 나는 화이트 와인을 만듦.  
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">알콜(alcohol) </h3>
        <h4 class="explain">알콜은 포도를 으깨어 통 속에 넣은 후 발효를 시키면 자연적으로 생기는 부산물.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">양조(vinification) </h3>
        <h4 class="explain">포도즙이 발효를 통해서 포도주로 변하는 과정	.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 에어레이션(aeration)</h3>
        <h4 class="explain">와인을 마시기 전에 공기 중에 노출시켜 숨쉬게 하는 과정.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">에프터 테이스트 (Aftertaste)  </h3>
        <h4 class="explain">와인을 한 모금 마시고 나서 입안에 남아있는 맛의 느낌으로 와인 테이스팅때 추가적으로 느껴지는 와인의 특질이나 결점을 감지할 수 있음.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">오크(Oak) </h3>
        <h4 class="explain">주로 와인 베럴를 만들 때 사용하는 나무의 종류. 오크 베럴에서 숙성된 와인인 경우 좋은 탄닌과 바닐라 향을 느낄 수 있음.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">와인(wine) </h3>
        <h4 class="explain">포도즙을 발효시켜 10 ~ 15%의 알콜 도수를 가진 술. 포도 자체에 발효를 가능하게 하는 이스트가 들어있기 때문에 저절로 술이 되는 특징을 가지고 있음.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">와이너리(Winery)</h3>
        <h4 class="explain">포도주양조장, 와인이 만들어지는 장소.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 와인 메이커 (Winemaker) </h3>
        <h4 class="explain">포도주 양조장에서 와인제조를 책임지고 있는 사람으로 와인 메이커는 주로 포도주의 발효, 숙성 그리고 병입 작업까지 책임짐.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">우디 (Woody)  </h3>
        <h4 class="explain">와인을 테이스팅할 때 주로 쓰는 용어로 오랜 기간 동안 나무통속에 보관된 경우 일반적으로 나무 향과 맛이 강해짐.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">이스트(yeast)</h3>
        <h4 class="explain">효모. 포도껍질에 자연적으로 존재하는 미생물로 포도의 당분을 알콜로 전환시켜 줌.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">임페리얼(Imperial) </h3>
        <h4 class="explain">제일 큰 와인병. 6리터/8병의 용량을 담을 수 있음.
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al9"  style="margin-top: 3%; margin-left: 4%;" >ㅈ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  저그와인(Jug Wines)</h3>
        <h4 class="explain">1.5 리터 사이즈 혹은 더 큰 와인용기에 담아서 적당한 가격으로 파는 와인들.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 저온살균(pasteurization) </h3>
        <h4 class="explain">질병이나 부패를 만들 수 있는, 바람직하지 않은 발효를 일으킬 수 있는 세균을 열을 가해서 없애는 방법. 저그와인처럼 저렴한 와인을 병입하기 전에 많이 사용.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  정교(finesse)</h3>
        <h4 class="explain"> 완벽한 밸런스와 미묘함과 고상함을 갖추었을 뿐 아니라 복합성과 우아함을 동시에 지닌 와인을 묘사하는 표현.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">정제(fining) </h3>
        <h4 class="explain">발효가 끝난 뒤 응고제를 집어넣어 와인을 정화시키는 방법.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 제로보엠(Jeroboam)</h3>
        <h4 class="explain">와인이나 샴페인을 담는 커다란 통. 일반 와인일 경우 4.5리터/6병 기준이며, 샴페인일 경우 3리터/4병 기준을 .
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> 주석산염(tartrate)</h3>
        <h4 class="explain">코르크 밑바닥에 붙어있는 하얀 결정체. 맛도 없고, 인체에 해롭지도 않음. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 진판델(Zinfandel)</h3>
        <h4 class="explain">미국 캘리포니아에서 가장 많이 재배되는 적포도품종.
          포도알이 굵고, 검푸른 색이며 달콤하고 즙이 많음.
          
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al10"  style="margin-top: 3%; margin-left: 4%;" >ㅊ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word"> 추출물(extract) </h3>
        <h4 class="explain">와인 속에 녹아 있는 물질
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 총산도(total acidity) </h3>
        <h4 class="explain">휘발성 산을 포함한 와인에 들어있는 모든 산.
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al11"  style="margin-top: 3%; margin-left: 4%;" >ㅋ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word"> 캡(cap) </h3>
        <h4 class="explain">발효 중인 포도즙 위로 포도껍질, 과육, 씨앗들이 떠오른 층. 산화를 억제시켜주는 자연적인 방어벽이 되기도 함. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">코르크(Cork)</h3>
        <h4 class="explain">콜크 오크나무의 두꺼운 껍질을 실린더 모양으로 잘라진 조각으로 탄력이 뛰어나 와인이 산화되지 않고 숨을 쉬게 도와주기에 와인 병 마개로 사용.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  콜드 스테빌리제이션<br>(cold stabilization)</h3>
        <h4 class="explain"> 화이트 와인 만들 때 하는 일반적인 처리로 와인을 맑게 하는 과정. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">콜키지(corkage) </h3>
        <h4 class="explain">레스토랑에 와인을 가져갔을 때 지불해야 하는 돈. 웨이터의 수고에 대한 보상과 글라스 사용료의 일종.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">크레망(Cremant) </h3>
        <h4 class="explain">샹파뉴 지방 이외의 지역에서 만들어지는 프랑스 스파클링 와인을 가리키는 말. creaming wine이란 뜻이 담겨있음.
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">크뤼(cru) </h3>
        <h4 class="explain">재배 또는 포도원을 뜻하는 프랑스어. 주로 유명한 프랑스의 와인이나 와인생산지를 분류할 때 사용.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 크리스피(crisp)</h3>
        <h4 class="explain">적당한 산도, 드라이, 라이트 바디를 가지고 있는 화이트 와인을 표현하는 테이스팅 용어.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">클라레(claret) </h3>
        <h4 class="explain">보르도 지방에서 나오는 가벼운 스타일의 레드 와인.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 클론(clone)</h3>
        <h4 class="explain">포도 품종의 하위분류. 같은 품종이라도 다른 클론으로 분류된다면 생장 속도, 병충해에 대한 저항, 생산량 등에 있어서 각각 다른 특성을 지님.
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al12"  style="margin-top: 3%; margin-left: 4%;" >ㅌ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  타스트뱅(tastevins)</h3>
        <h4 class="explain">와인의 색과 맛을 보기 위한 시음용 도구. 은으로 만들어졌으며, 와인의 투명도와 색을 자세히 관찰할 수 있게 움푹 들어간 모양.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">타우니(tawny)  </h3>
        <h4 class="explain">황갈색의. 오랫동안 나무 통에서 숙성시킨 포트 와인은 황갈색을 내기 때문에, 포트 와인의숙성 정도를 황갈색의 단어로 묘사. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 탄닌(tannin) </h3>
        <h4 class="explain"> 입안을 떫게 만드는 요소. 포도의 껍질과 줄기, 씨앗에서 들어있고 베럴에서 숙성할 때 나무와의 접촉에서도 얻어짐. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 테이블 와인(table wine)</h3>
        <h4 class="explain">미국에서는 알콜 함량이 14%를 넘지않은 것. 프랑스에서는 수확량이  많은 포도로 만든 단순하고 질이 낮은 와인.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">투명도(clarity) </h3>
        <h4 class="explain">와인이 맑고, 깨끗하며, 부유물이 없는 정도를 묘사하는 단어. 
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> 트레비아노(Trebbiano)</h3>
        <h4 class="explain">이탈리아에서 가장 널리 재배되는 청포도 품종, 드라이 화이트 와인을 주로 만듦. 높은 산도, 중간 정도의 알콜, 중성적인 향을 가지고 있음.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">트로켄베렌아우스레제<br>(Trockenbeerenauslese) </h3>
        <h4 class="explain">포도가 충분히 익을 때까지 기다린 뒤 손으로 한 알 한 알씩 수확해서 만든 와인. 
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al13"  style="margin-top: 3%; margin-left: 4%;" >ㅍ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word"> 펀트(punt) </h3>
        <h4 class="explain">샴페인병이나 와인병 밑바닥에 오목하게 들어간 부분. 병속의 침전물을 가라앉히기 위해서, 샴페인 병의 압력을 견디기 위해서 이렇게 만들짐.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 포도품종(varietal)  </h3>
        <h4 class="explain">와인 이름을 정할 때, 재료가 된 포도품종으로 하는 경우와, 만든 지역으로 하는 경우가 있는데 이들의 기준은 나라마다 차이가 있음.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 포트(port or Porto) </h3>
        <h4 class="explain"> 포트는 포르투갈의 포르토(Porto)에서 유래된 달콤한 강화와인. 제조 과정 중에 브랜디를 첨가하기 때문에 알콜도수가 18%로 높음.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 폴리페놀(Polyphenols) </h3>
        <h4 class="explain">포도의 탄닌과 포도 껍질의 색소에서 주로 발견되는 성분. 와인에서 생기는 화학적인 성분으로 떫은 맛과, 쓴맛, 입안이 마르는듯한 느낌을 줌. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">푸메 블랑(Fume Blanc)  </h3>
        <h4 class="explain">소비뇽 블랑과 비슷한 테이블 화이트 와인 포도품종 이름으로 대체적으로 좋은 와인인 경우 드라이함.
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> 프레디카(Pradikat)</h3>
        <h4 class="explain">독일어로 ‘distinction(구별)이란 뜻. 수확 당시 포도당분의 양에 따른 와인의 분류시스템
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 프레스 와인(pressing wine)</h3>
        <h4 class="explain">자연적으로 흘러나오는 포도즙이 아닌 껍질과 과육을 압착해서 나온 즙으로 만든 것. 더 진한 색, 향 그리고 더 많은 탄닌의 양.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">프리잔테(frizzante) </h3>
        <h4 class="explain">이탈리아 스파클링 와인, 스푸만테보다 약한 가벼운 스파클링 와인.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 플랫(Flat) </h3>
        <h4 class="explain">와인 테이스팅 용어로 산미와 또렷한(Crispness) 생동감이 결여된 와인
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 플레이버(flavor)</h3>
        <h4 class="explain">와인의 맛, 부케, 아로마를 모두 포괄하는 느낌.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">피노(fino) </h3>
        <h4 class="explain">쉐리 와인의 대표적인 종류. 색이 엷고, 정교하며 드라이하고, 아몬드향과 이스트향. 알콜도수는 15.5% ~ 17%. 보통 차게 해서 식전주로 많이 마심.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">피노 그리(Pinot Gris) </h3>
        <h4 class="explain">회색빛이 도는 포도품종. 풀바디, 부드러운 향, 중간 정도의 산도를 가지고 있으며 피니시가 기분좋은 와인을 만들어 냄.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 피노 누아(Pinot Noir)</h3>
        <h4 class="explain">얇은 껍질을 가지고 있어서  재배 및 양조가 어려움. 부드럽고, 섬세하며, 아주 다양한 향을 가진, 고급 레드 와인을 만들어냄. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 피노 뫼니에(Pinot Meunier)</h3>
        <h4 class="explain">프랑스 샹파뉴 지방에서 샴페인을 만들기 위해 제일 많이 재배되는 적포도품종.  추운 날씨에도 잘 자라고, 블랜딩할 때 과일향과 산도를 줌. 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">피노 블랑(Pinot Blanc) </h3>
        <h4 class="explain">샤도네이와 여러 가지로 비슷. 드라이하며, 입안에서의 느낌이 꽉차고 풍부하며, 감귤류, 풋사과의 신맛이 나는 신선한 와인을 생산.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">필터링(filtering) </h3>
        <h4 class="explain">불필요한 침전물을 거르는 과정. 종이나 필터를 이용해서 걸러냄. 다만 와인의 향과 특성이 조금 날아갈 수 있음.
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha" id="al14"  style="margin-top: 3%; margin-left: 4%;" >ㅎ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word"> 하드(Hard)  </h3>
        <h4 class="explain">와인 테이스팅 용어로 지나치게 탄닌이 많고, 쓰거나, 떫은맛이 강 할때 표현하는 용어.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  하이브리드(Hybrid)</h3>
        <h4 class="explain">포도 재배학에서 두개의 다른 포도품종을 접목하여 새로운 품종이 되는 것.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 헥토리터(hectoliter) </h3>
        <h4 class="explain"> 100L, 유럽 포도주 양조장에서 와인을 측량하는 표준 단위. 
          </h4>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html> 