<!doctype html>
<html lang="ko">
  <head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wine recommendation : Main page </title>
    <link rel="icon" href="../static/static_jiyeon/images/wineicon.png">
    <!--bootsrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--slick slider-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--custom js--> 
    <link rel="stylesheet" href="../static/css/app.css"> 
    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/winetest3.css') }}">]
    <link href="../static/css/winetest3.css" rel="stylesheet">
   
   
  </head>
  <body class="bg-gradient-main">
    <!--top navar-->
    <nav class="navbar navbar-expand-lg py-3  sticky-top">

      <div class="container-fluid">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"  >
            
            <li class="nav-item">
              <a href="index.html" class="navbar-brand align-middle" style="margin-right: 20px;  margin-left: 20px; ">
                <img src="../static/static_jiyeon/images/wineicon.png" height="20px">
              </a>
            </li>
            <li class="nav-item">
              <a href="#top" class="nav-link" style="margin-right: 20px; ">
                서비스 소개
              </a>
            </li>
            <li class="nav-item">
              <a href="#intro" class="nav-link" style="margin-right: 20px;">
                와인소식
              </a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link" style="margin-right: 20px;">
                와인용어사전
              </a>
            </li>
            <li class="nav-item">
              <a href="#slogan" class="nav-link" style="margin-right: 20px;">
                와인지도
              </a>
            </li>
            <li class="nav-item">
              <a href="#gallery" class="nav-link" style="margin-right: 20px;">
                와인검색
              </a>
            </li>
            <li class="nav-item">
              <a href="mywine.html" class="nav-link" style="margin-right: 20px;">
                나의와인
              </a>
            </li>
            <li class="nav-item">
              <a href="winetest1.html" class="nav-link" style="margin-right: 20px;">
                와인 추천받기 
              </a>
            </li>
            <li class="nav-item">
              <a href="wineinfo.html" class="nav-link" style="margin-right: 20px;">
                와인정보
              </a>
            </li>
            <li class="nav-item">
              <a href="#find-us" class="nav-link" style="margin-right: 20px;">
                Contact Us 
              </a>
            </li>
            <li class="nav-item">
              <a href="login.html" class="nav-link">
               Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>

    <div class="wrapper row">
      <div class="preview col-md-4" >
        <h1 class="product-title" style=" margin-bottom: 50px; padding-left: 100px; margin-top: -40px;">와인 취향 테스트</h1>
      </div>
      <div class="preview col-md-8" >
        <h1 class="subdetail" style=" margin-bottom: 50px; margin-left: -80px; margin-top: -30px;">나의 취향에 맞는 와인을 추천해드립니다.<br>아래의 설문에 답을 해주세요.</h1>
      </div>
    </div>

    <div class="wrapper row" style="margin-bottom: 39.4%">
      <div class="preview col-md-2 " style="padding-left: 150px; padding-top: 20px;" >
          <h2 class="question" tyle=" margin-bottom: 50px; padding-left: 0px; margin-top: 50px;"> 3. 각 맛에 대한 선호도를 선택해주세요 </h2>
      </div>
      <div class="box1 col-md-9" style="padding-left:0px; padding-top: 0px;" >
        <div class="preview col-md-8 " style="padding-left: 150px; padding-top: 20px;" >
          <h3 class="idx6">low</h3>
          <h3 class="idx7">medium</h3>
          <h3 class="idx8">high</h3>
        </div>
      <form action="/winetest3" method="post" style="margin-top: -44px">
      <div class="preview col-md-8" style="padding-left: 147px; padding-top: 20px;" >
        <h3 class="idx1">산도</h3>
        <div class="mb-9" style="padding-left:0px; padding-top: 30px;">
          <label for="soft_acidic_level" class="form-label"></label>
            <div class="row-md-12" style="margin-left: -435px; padding-top: 35px; ">
              <div class="form_radio_btn">
                <input id="radio-1" type="radio" name="soft_acidic_level" value="1">
                <label for="radio-1">1</label>
              </div> 
              <div class="form_radio_btn">
                <input id="radio-2" type="radio" name="soft_acidic_level" value="2">
                <label for="radio-2">2</label>
              </div>
              <div class="form_radio_btn">
                <input id="radio-3" type="radio" name="soft_acidic_level" value="3" checked>
                <label for="radio-3">3</label>
              </div> 
              <div class="form_radio_btn">
                <input id="radio-4" type="radio" name="soft_acidic_level" value="4">
                <label for="radio-4">4</label>
              </div>
              <div class="form_radio_btn">
                <input id="radio-5" type="radio" name="soft_acidic_level" value="5">
                <label for="radio-5">5</label>
              </div> 
            </div>
        </div>
      </div>
      <div class="preview col-md-8" style="padding-left: 150px; padding-top: 20px;" >
        <h3 class="idx2">탄닌</h3>
          <div class="mb-9" style="padding-left:0px; padding-top: 0px;">
            <label for="smooth_tannic_level" class="form-label"></label>
              <div class="row-md-12" style="margin-left: -438px; margin-top: 20px;">
                <div class="form_radio_btn">
                  <input id="radio-6" type="radio" name="smooth_tannic_level" value="1">
                  <label for="radio-6">1</label>
                </div> 
                <div class="form_radio_btn">
                  <input id="radio-7" type="radio" name="smooth_tannic_level" value="2">
                  <label for="radio-7">2</label>
                </div>
                <div class="form_radio_btn">
                  <input id="radio-8" type="radio" name="smooth_tannic_level" value="3" checked>
                  <label for="radio-8">3</label>
                </div> 
                <div class="form_radio_btn">
                  <input id="radio-9" type="radio" name="smooth_tannic_level" value="4">
                  <label for="radio-9">4</label>
                </div>
                <div class="form_radio_btn">
                  <input id="radio-10" type="radio" name="smooth_tannic_level" value="5">
                  <label for="radio-10">5</label>
                </div> 
              </div>
          </div>
      </div>
      <div class="preview col-md-8" style="padding-left: 150px; padding-top: 20px; width: 100px;" >
        <h3 class="idx3" style="margin-left:-15px">바디</h3>
          <div class="mb-9" style="padding-left:0px; padding-top: 0px;">
            <label for="light_bold_level" class="form-label"></label>
              <div class="row-md-12" style="margin-left: -437px; margin-top: 0px; ">
                <div class="form_radio_btn">
                  <input id="radio-11" type="radio" name="light_bold_level" value="1">
                  <label for="radio-11">1</label>
                </div> 
                <div class="form_radio_btn">
                  <input id="radio-12" type="radio" name="light_bold_level" value="2">
                  <label for="radio-12">2</label>
                </div>
                <div class="form_radio_btn">
                  <input id="radio-13" type="radio" name="light_bold_level" value="3" checked>
                  <label for="radio-13">3</label>
                </div> 
                <div class="form_radio_btn">
                  <input id="radio-14" type="radio" name="light_bold_level" value="4">
                  <label for="radio-14">4</label>
                </div>
                <div class="form_radio_btn">
                  <input id="radio-15" type="radio" name="light_bold_level" value="5">
                  <label for="radio-15">5</label>
                </div> 
              </div>
          </div>
      </div>
      <div class="preview col-md-8" style="padding-left: 150px; padding-top: 20px; width: 100px;" >
        <h3 class="idx4" style="margin-left:0px">알콜</h3>
          <div class="mb-9" style="padding-left:0px; padding-top: 0px;">
            <label for="Alcohol_content_level" class="form-label"></label>
              <div class="row-md-12" style="margin-left: -440px; margin-top: 5px; ">
                <div class="form_radio_btn">
                  <input id="radio-16" type="radio" name="Alcohol_content_level" value="1">
                  <label for="radio-16">1</label>
                </div> 
                <div class="form_radio_btn">
                  <input id="radio-16" type="radio" name="Alcohol_content_level" value="2">
                  <label for="radio-17">2</label>
                </div>
                <div class="form_radio_btn">
                  <input id="radio-18" type="radio" name="Alcohol_content_level" value="3" checked>
                  <label for="radio-18">3</label>
                </div> 
                <div class="form_radio_btn">
                  <input id="radio-19" type="radio" name="Alcohol_content_level" value="4">
                  <label for="radio-19">4</label>
                </div>
                <div class="form_radio_btn">
                  <input id="radio-20" type="radio" name="Alcohol_content_level" value="5">
                  <label for="radio-20">5</label>
                </div> 
              </div>
          </div>
      </div>
      <div class="preview col-md-8" style="padding-left: 150px; padding-top: 20px; width: 100px;" >
        <h3 class="idx5" style="margin-left:0px">당도</h3>
          <div class="mb-9" style="padding-left:0px; padding-top: 0px;">
            <label for="dry_sweet_level" class="form-label"></label>
              <div class="row-md-12" style="margin-left: -440px; margin-top: 5px; ">
                <div class="form_radio_btn">
                  <input id="radio-21" type="radio" name="dry_sweet_level" value="1">
                  <label for="radio-21">1</label>
                </div> 
                <div class="form_radio_btn">
                  <input id="radio-22" type="radio" name="dry_sweet_level" value="2">
                  <label for="radio-22">2</label>
                </div>
                <div class="form_radio_btn">
                  <input id="radio-23" type="radio" name="dry_sweet_level" value="3" checked>
                  <label for="radio-23">3</label>
                </div> 
                <div class="form_radio_btn">
                  <input id="radio-24" type="radio" name="dry_sweet_level" value="4">
                  <label for="radio-24">4</label>
                </div>
                <div class="form_radio_btn">
                  <input id="radio-25" type="radio" name="dry_sweet_level" value="5">
                  <label for="radio-25">5</label>
                </div> 
              </div>
          </div>
          <span>
            <button type="submit" class="arrow-next" value="" style="margin-left: -1000px;"></button>
          </span>
      </div>
        
        <span>
          <form action="winetest2.html">
            <button type="submit" class="arrow-prev" value="" style="margin-left: -1000px;"></button>
          </form>
        </span>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html> 