<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wine recommendation : Main page </title>
    <link rel="icon" href="../static/static_jiyeon/images/wineicon.png">
    <!--bootsrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--slick slider-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--custom css--> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/winedic.css') }}">
    <link href="../static/css/winedic.css" rel="stylesheet">
  </head>

  <body class="bg-gradient-main">
    <!--top navar-->
    <nav class="navbar navbar-expand-lg py-3  sticky-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"  >

            <li class="nav-item">
              <a href="/" class="navbar-brand align-middle" style="margin-right: 20px;  margin-left: 20px; ">
                <img src="../static/static_seohyun/images/wineicon.png" height="20px">
              </a>
            </li>
            <li class="nav-item">
              <a href="/service" class="nav-link" style="margin-right: 20px; ">
                서비스 소개
              </a>
            </li>
            <li class="nav-item">
              <a href="/winenews" class="nav-link" style="margin-right: 20px;">
                와인소식
              </a>
            </li>
            <li class="nav-item">
              <a href="/winedic" class="nav-link" style="margin-right: 20px;">
                와인용어사전
              </a>
            </li>
            <li class="nav-item">
              <a href="/winemap" class="nav-link" style="margin-right: 20px;">
                와인지도
              </a>
            </li>
            <li class="nav-item">
              <a href="/winelist" class="nav-link" style="margin-right: 20px;">
                와인검색
              </a>
            </li>
            <li class="nav-item">
              <a href="/mywine" class="nav-link" style="margin-right: 20px;">
                나의와인
              </a>
            </li>
            <li class="nav-item">
              <a href="/winetest1" class="nav-link" style="margin-right:20px;">
                와인 추천받기 
              </a>
            </li>
            <li class="nav-item">
              <a href="/wineinfo" class="nav-link" style="margin-right: 20px;">
                와인정보
              </a>
            </li>
            <li class="nav-item">
              <a href="/contactus" class="nav-link" style="margin-right: 20px;">
                Contact Us 
              </a>
            </li>
            {% if user_name %}
              <li class="nav-item">
                <a class="nav-link" style="margin-right: 20px;">
                  {{ user_name }}님
                </a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="nav-link">
                  Logout
                </a>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="/login" class="nav-link">
                  Login
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <div class="wrapper row">
      <div class="preview col-md-4" >
        <h1 class="product-title" style=" margin-bottom: 10%; padding-left: 21%; margin-top: -40px;">와린이들을 위한,<br>와인 용어 사전</h1>
      </div>
      <div class="preview col-md-8" >
        <h1 class="subdetail" style=" margin-bottom: 10%; margin-left: -7%; margin-top: 5px;">꼭 필요한 개념들만 모아 정리했습니다.<br>생소한 와인 용어에 대해 알아가보세요!</h1>
      </div>
    </div>  

    <div class="container-fluid mt-5">
      <div class="row" style="margin-bottom: 37.1%;">
        <div class="preview col-md-12">
            <div class="action1">
            <button class="alphabox btn btn-default" type="button">ㄱ</button>      
            </div>
            <div class="action2">
            <button class="alphabox btn btn-default" type="button">ㄴ</button>      
            </div>
            <div class="action3">
            <button class="alphabox btn btn-default" type="button">ㄷ</button>      
            </div>
            <div class="action4">
            <button class="alphabox btn btn-default" type="button">ㄹ</button>      
            </div>
            <div class="action5">
            <button class="alphabox btn btn-default" type="button">ㅁ</button>      
            </div>
            <div class="action6">
            <button class="alphabox btn btn-default" type="button">ㅂ</button>      
            </div>
            <div class="action7">
            <button class="alphabox btn btn-default" type="button">ㅅ</button>      
            </div>
            <div class="action8">
            <button class="alphabox btn btn-default" type="button">ㅇ</button>      
            </div>
            <div class="action9">
            <button class="alphabox btn btn-default" type="button">ㅈ</button>      
            </div>
            <div class="action10">
            <button class="alphabox btn btn-default" type="button">ㅊ</button>      
            </div>
            <div class="action11">
            <button class="alphabox btn btn-default" type="button">ㅋ</button>      
            </div>
            <div class="action12">
            <button class="alphabox btn btn-default" type="button">ㅌ</button>      
            </div>
            <div class="action13">
            <button class="alphabox btn btn-default" type="button">ㅍ</button>      
            </div>
            <div class="action14">
            <button class="alphabox btn btn-default" type="button">ㅎ</button>      
            </div>
        </div>
    </div>
    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: -45%; margin-left: 4%;" >ㄱ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">갈변(browning)</h3>
        <h4 class="explain">오래된 와인에서 숙성의 정도를 나타날 때 사용되는 용어<br>
          만약 글라스 가장 자리로 갈변이 생겼을 경우, 그것은 충분히 숙성되어 이제 막 절정기를 지나고 있음을 알려주는 것. 
          하지만 영한 레드 와인과 화이트 와인인 경우 이 갈변은 매우 나쁜 징조
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">까베르네 소비뇽<br>(Cabernet Sauvignon) </h3>
        <h4 class="explain">전 세계적으로 가장 많이 사용되고 사랑 받는 레드와인 포도품종. 작은포도알, 깊은 어두운 색, 두꺼운 껍질, 많은 씨앗이 특징.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">까리냥(Carignan) </h3>
        <h4 class="explain">원산지는 스페인이나 프랑스에서도 널리 재배되는 적포도 품종. 진한 보라빛으로 탄닌과 알콜 성분이 높고, 진하고, 풍부하고, 과일향이 나며 스파이시한 향을 지님.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">까바(Cava) </h3>
        <h4 class="explain">스페인에서 생산되는 스파클링 와인. 이는 과일향이 남아있는 영한 상태에서 먹는 게 좋음
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">가당(chaptalization) </h3>
        <h4 class="explain">와인의 알콜 함량을 높이기 위해 발효 도중 당을 첨가하는 과정. 보통 추운 지역에서 덜 익은 포도로 와인을 만들 때 사용.
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">강화 와인(fortified wine)</h3>
        <h4 class="explain">와인에 알콜을 첨가하여 알콜함량을 높인 와인. 보통 와인은 11~14%인 반면 강화 와인은 15~21%의 알콜임. 종류로는 포트, 마데이라, 쉐리가 있음. 강화와인을 만드는 이유로는 발효를 멈추게 하기 위해서와 와인의 저장성을 높이기 위해서임.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">그란 리제르바(Gran Reserva)</h3>
        <h4 class="explain">스페인의 고급 와인. 이 와인들은 법으로 숙성 기간이 정해졌다. 레드 와인의 경우 최소한 5년 이상 숙성한 것이고, 화이트 와인의 경우 4년 이상 숙성한 것이다
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">그랑 크뤼(Grand Cru)</h3>
        <h4 class="explain">프랑스 부르고뉴나 알사스 지방에서 최고급 포도원이나 최고급 와인을 만들어 내는 마을을 가리킴
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">꾸베(cuvee)</h3>
        <h4 class="explain">양조용 큰 통(vat)이나 탱크에 들어있는 와인.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">끼안띠(Chianti) </h3>
        <h4 class="explain">미디엄 바디(Medium body)에서 풀 바디(Full body) 테이블 레드와인으로 이태리 토스카나 지역에서 생산되는 와인이다. 끼안띠는 블랜딩을 하는 와인이지만 사용되는 주 포도품종은 산지오베제(Sangiovese) 
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㄴ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">나파(Napa) </h3>
        <h4 class="explain">현재 약 200여개의 포도원 양조장이 있는 샌프란시스코 북부 지역의 마을로 캘리포니아의 최상급 와인들이 생산됨
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">네뷰커드네저<br>(Nebuchadnezzar) </h3>
        <h4 class="explain">샴페인을 담는 커다란 병. 750ml 20병/15리터 크기
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 네고시앙(negociant)</h3>
        <h4 class="explain">와인상인, 와인중개인, 와인을 사거나 파는 해운업자를 가리키는 프랑스어
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">노블롯 (Noble Rot)</h3>
        <h4 class="explain">주로 보트리티스 시네리아(Botrytis cinerea) 라고 하는데 극소량의 훌륭한 디저트 와인을 만드는 유익한 곰팡균
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">노블와인(noble wine) </h3>
        <h4 class="explain">조화, 밸런스, 우아함, 복잡 미묘함 등에 있어서 완벽한 와인인 최고 중 최고의 와인
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">논빈티지(non-vintage (NV))</h3>
        <h4 class="explain">각기 다른 해에 만들어진 와인으로 블랜딩한 와인
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">누보(Nouveau) </h3>
        <h4 class="explain">새로운(new)의 프랑스어. 보졸레 와인으로 영(young) 하고 신선하며 과일 맛이 뛰어나며 오래 숙성시키지 않은 라이트 바디의 와인.
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㄷ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word"> 데미 섹(Demi-sec)  </h3>
        <h4 class="explain">샴페인 용어로 중간정도 달다(medium-sweet) 라는 뜻.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 돌체또(Dolcetto) </h3>
        <h4 class="explain">이탈리아 피에몬테 지방에서 재배되는 산도가 낮은 적포도품종.  진한 자주색을 내며, 과일향, 아몬드향, 감초향이 나는 부드러운 와인을 생산함,
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 디저트 와인(dessert wine) </h3>
        <h4 class="explain"> 일반적으로 포트나 쉐리, 마데이라, 소테른 같은 단 와인을 말함. 꼭 디저트용으로만 먹지 않아도 됨.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 디캔터(decanter)</h3>
        <h4 class="explain">디캔팅하는 용기. 유리나 크리스탈로 만들어짐. 적어도 와인 한병(750ml)보다는 용량이 커야 함
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 디켄팅(Decanting) </h3>
        <h4 class="explain">병에 있는 와인의 침전물을 없애기 위해 조심스럽게 와인을 따라 다른 깨끗한 병(디켄터-Decanter)으로 와인을 옮겨 따르고 뒤에 남은 찌꺼기는 버리는 것. 디켄팅은 주로 와인을 서빙하기 1시간 전에 함.
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word">떼루아(terroir) </h3>
        <h4 class="explain">포도가 자라는 데 영향을 주는 지리적인 요소, 기후적인 요소, 포도재배법 등을 모두 포괄하는 단어. 여기에는 토양, 강수량, 태양, 바람, 경사, 관개, 배수 등이 포함됨.
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> 떼뜨 드 뀌베(tete de cuvee) </h3>
        <h4 class="explain">와인생산자가 내세우는 최고의 와인, 최고의 샴페인을 말함. 비싼 빈티지 샴페인의 라벨에서 종종 찾아볼 수 있음. 
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㄹ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅁ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅂ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅅ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅇ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅈ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅊ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅋ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅌ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅍ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>

    <div class="preview row-md-8">
      <h2 class="alpha"  style="margin-top: 3%; margin-left: 4%;" >ㅎ</h2>
    </div>
    <div class="container" style="margin-top: -1%; margin-left: -2%;">
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word">  </h3>
        <h4 class="explain"> 
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
      <div class="dic_box">
        <h3 class="word"> </h3>
        <h4 class="explain">
          </h4>
      </div>
    </div>


  

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html> 