body {
    font-family: "Gill Sans", sans-serif;
    overflow-x: hidden; 
}
  
  
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .price, .alcohol,.year,.type,.region,.pairing{
    
    font-weight: bold; }

  .product-title{
    
    font-weight: bold; 
    color:#fff;
  }
  .subdetail{
    height: 66px;
    width: 533px;
    left: 515px;
    top: 155px;
    color: #fff;
    font-size: large;
    font-weight: lighter;
  }
  .question{
    position: fixed;
    width: 656px;
    height: 44px;
    left: 120px;
    top: 180px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;    
    line-height: 100%;
    /* or 36px */
    letter-spacing: -0.01em;
    color: #2c1633;
  }
  .box1{
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 16px;
    gap: 16px;
    position: fixed;
    width: 1000px;
    height: 500px;
    left: 225px;
    top: 250px;
    background: #ffd9d9;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 16px;
  }

  .form_radio_btn {
    width: 100px;
    height : 30px;
    border: 1px solid #EAE7E7;
    border-radius: 10px;
  }
  .form_radio_btn input[type=radio] {
    display: none;
  }
  .form_radio_btn label {
    display: block;
      border-radius: 10px;
       margin: 0 auto;
      text-align: center;
      height: -webkit-fill-available;
      line-height: 45px;
  }
   
  /* Checked */
  .form_radio_btn input[type=radio]:checked + label {
    background: rgba(246, 147, 147, 0.94);
    color: #fff;
  }
   
  /* Hover */
  .form_radio_btn label:hover {
    color: #666;
  }
   
  /* Disabled */
  .form_radio_btn input[type=radio] + label {
    background: #F9FAFC;
    color: #666;
  }


  .circle1{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 290px;
    top: 300px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle1:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); 
  }
  .circle1:active{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); 
  }
  .circle2{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 290px;
    top: 374px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle2:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); 
  }
  .circle3{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 290px;
    top: 448px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle3:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle4{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 290px;
    top: 522px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle4:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle5{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 290px;
    top: 596px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle5:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle6{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 290px;
    top: 670px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle6:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle7{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 590px;
    top: 300px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle7:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); 
  }
  .circle8{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 590px;
    top: 374px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle8:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); 
  }
  .circle9{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 590px;
    top: 448px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle9:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle10{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 590px;
    top: 522px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle10:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle11{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 590px;
    top: 596px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle11:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle12{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 590px;
    top: 670px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle12:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle13{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 890px;
    top: 300px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle13:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); 
  }
  .circle14{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 890px;
    top: 374px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle14:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); 
  }
  .circle15{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 890px;
    top: 448px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle15:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle16{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 890px;
    top: 522px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle16:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle17{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 890px;
    top: 596px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle17:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .circle18{
    position: fixed;
    width: 40px;
    height: 40px;
    left: 890px;
    top: 670px;
    border-radius: 50%;
    background: #FFFFFF;
  }
  .circle18:hover{
    background: rgba(246, 147, 147, 0.94);
    color: rgba(255, 194, 194, 0.94); }

  .food1{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 350px;
    top: 309px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food2{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 350px;
    top: 383px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food3{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 350px;
    top: 457px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food4{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 350px;
    top: 531px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food5{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 350px;
    top: 605px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food6{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 350px;
    top: 679px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  }
  .food7{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 650px;
    top: 309px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food8{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 650px;
    top: 383px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food9{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 650px;
    top: 457px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food10{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 650px;
    top: 531px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food11{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 650px;
    top: 605px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food12{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 650px;
    top: 679px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  }

  .food13{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 950px;
    top: 309px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food14{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 950px;
    top: 383px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food15{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 950px;
    top: 457px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food16{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 950px;
    top: 531px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food17{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 950px;
    top: 605px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  } 
  .food18{
    position: fixed;
    width: 175px;
    height: 44px;
    left: 950px;
    top: 679px;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: rgba(51, 27, 59, 0.66);
  }

  .arrow-prev,
  .arrow-next {
    position: relative;
  }

  .arrow-prev::after {
    position: fixed;
    left: 100px; 
    top: 430px;
    content: '';
    width: 70px; /* 사이즈 */
    height: 70px; /* 사이즈 */
    border-top: 10px solid #000; /* 선 두께 */
    border-right: 10px solid #000; /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
  }

  .arrow-next::after {
    position: fixed;
    left: 1280px; 
    top: 430px; 
    content: '';
    width: 70px; /* 사이즈 */
    height: 70px; /* 사이즈 */
    border-top: 10px solid #000; /* 선 두께 */
    border-right: 10px solid #000; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
  }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
              .bg-gradient-main {
                background-color: #B83642 ;
                background-image: linear-gradient(180deg, #B83642 10%,#d64e5b 100%);
                background-size: cover;
              }